<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756566707726-tg58ncju89altm4e9seeh13r7ai8cucb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756566707726-tg58ncju89altm4e9seeh13r7ai8cucb</string>
	<key>API_KEY</key>
	<string>AIzaSyB-LcaEOJVSir1DbwB-JnJ0k2uf4TtlZoU</string>
	<key>GCM_SENDER_ID</key>
	<string>756566707726</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jones.daniel.YouDecide</string>
	<key>PROJECT_ID</key>
	<string>youdecide-c10c9</string>
	<key>STORAGE_BUCKET</key>
	<string>youdecide-c10c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756566707726:ios:28fc0b9a15a5bb769d365f</string>
</dict>
</plist>